body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro",Arial,Sans-Serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    color: black !important;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: black !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: black !important;
    background-color: #525252;
}

.navbar-nav > .active {
    color: darkred;
}

.navbar-default {
    background-color: white !important;
    border: 1px solid #c3c3c3;
}

.navbar-default .navbar-toggle {
    margin-top: 25px !important;
    margin-right: 15px !important;
}

.navbar-nav ul > li {
    float: left;
    width: 100%;
    position: relative;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff !important;
    background-color: #4a4a4a;
}

.navbar-nav > li > a {
    position: relative;
    display: block;
    color: #fff !important;
    background: #393939;
    border-bottom: 1px solid #2e2e2e;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 14px !important;
}

.navbar-nav > li a:after {
    content: '';
    width: 8px;
    height: 8px;
    margin-top: -4px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-bar {
    height: 30px;
    background: #eaeaea;
    border-bottom: 1px solid #b5b5b5;
}

.logo-image {
    display:inline-block;
    height: 50px;
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    font-weight: 600;
}

.banner {
    margin-top: 60px;
}

#banner-image {
    width: 100%;
    height: auto;
}

.row-centered {
    text-align: center;
}

.top-spacing {
    margin-top: 40px;
}

.recent-project-container {
    border: 1px solid #d6d6d6;
    background: #1c272b;
    display: inline-block;
    margin-right: 25px;
}

.recent-project-container-end {
    border: 1px solid #d6d6d6;
    background: #1c272b;
    display: inline-block;
}

.home-recent-project-img {
    height: 220px;
}

.home-page-main-header {
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

.home-page-main-sub-header {
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
    color: #1e2021;
    text-align: center;
    padding: 0 10px;
}

.home-recent-project-title {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 2px;
    color: #e0e0e0;
    font-size: 16px;
    padding-top: 5px;
}

.home-recent-project-subtitle {
    text-align: left;
    padding-left: 10px;
    color: rgb(162, 162, 162);
}

.section-image-left, .section-image-right {
    width: 45%;
    display: inline-block;
}

.section-image-left {
    margin-right: 10px;
}

.section-image-container {
    text-align: center;
}

.section-spacing {
    margin-bottom: 70px;
}

@media (max-width: 800px) {
    .recent-project-container, .recent-project-container-end {
        width: 85%;
        margin: 0 auto 40px;
    }

    .home-recent-project-img {
        height: auto !important;
        width: 100%;
    }

    .section-image-left, .section-image-right {
        width: 90%;
        display: block;
        margin: 0px auto 40px auto;
    }

    .home-page-main-header {
        margin-top: 10px;
    }

    .home-page-main-sub-header {
        margin-bottom: 30px;
    }

    .section-spacing {
        margin-bottom: 0px;
    }

}

@media (max-width: 1005px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        margin-right: -15px !important;
        margin-left: -15px !important;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .home-recent-project-img {
        height: 180px;
    }

    .recent-project-container {
        margin-right: 10px;
    }

    #banner-image {
        content: url("Images/hero_banner_tall.jpg");
    }
}

@media (min-width: 1005px) {
    .navbar-nav > li a {
        color: #000000 !important;
        background: #fff;
        padding: 33px 8px 27px !important;
        border-bottom: none !important;
    }

    .navbar-nav > li a:after {
        content: none;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #b6032d !important;
        background-color: #fff;
    }

    .nav {
        float: right;
    }

    .top-spacing {
        margin-top: 20px;
    }

    .navbar-brand {
        padding: 15px 5px;
    }
}

@media (min-width: 1150px) {
    .container {
        width: 1120px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav > li a {
        padding: 33px 14px 27px !important;
    }
}